.hero-box{overflow: hidden;}
    
.hero-box__info{
    display: grid;
    gap: 30px;
}

.hero-box__text{
    font-weight: var(--fw-body);
    color: var(--textColor);
    font-size: var(--fs-body);
    max-width: 65%;
}

/* Botones */
.get-in-touch{
    background-color: var(--buttonColor) !important;
    margin-right: 40px;
    border-radius: unset;
    min-width: 150px;
    min-height: 52px;
}.see-our-work{
    border: none;
    background-color: transparent;
    color: var(--textColor);
    font-weight: 500;
}

/*Imagenes*/
.infoBox__img{
    position: relative;
    overflow: hidden;
}
.card1, .card2{
    position: absolute;
    max-width: 54% !important;
}
.card1{
    left: -7%;
    top: 1%;
    max-width: 375px;
}
.card2{
    right: -9%;
    bottom: -14%;
    max-width: 375px;
}

/*Tablet*/
@media (max-width:1023px) {
    .hero-box{
        max-width: 90%;
        margin: 0 auto;
    }
    .hero-box__info{padding-right: unset;}
    .hero-box h1 {font-size: 2.3rem;}
}

/*Mobile*/
@media (max-width:750px) {
    .hero-box{
        text-align: center;
        justify-content: center;
    } 
    .hero-box__text{margin: 0 auto;}
}