/* --- General --- */
html.dark-mode {
    background-color: #191c29;
}
.dark-mode body{
    background-color: #191c29;
    color: lightgray !important;
}

/*H1, h2, h3...*/
.dark-mode h1, .dark-mode h2, .dark-mode h3, .dark-mode h4{
    color: white;
}


/* --- Navbar --- */
.dark-mode a.navbar-item:first-child:not(.is-hoverable a.navbar-item){
    font-weight: bold;
    color: var(--questionColor);
}
.dark-mode a.navbar-item:not(:first-child), .dark-mode .is-hoverable a {
    color: white;
    font-weight: 400;
}

.dark-mode .navbar-dropdown a {
    color: black !important;
}

.dark-mode .is-hoverable a.navbar-link:hover {
    color: black;
}

.dark-mode #menu-hamburguesa.is-active a {
    color: var(--titleColor) !important;
}
/* --- Hero --- */
.dark-mode .hero-box__text, .dark-mode .hero-box__button{
    color: lightgray;
}


/* --- Sponsor --- */
.dark-mode .sponsor img{
    filter: unset
}

/* --- Projects --- */
.dark-mode .card-title h4{
    color: var(--titleColor);
}


/* --- Clients --- */
.dark-mode .clientsSay h3{color: var(--questionColor);}



/* --- Question --- */
.dark-mode .questionsbox h3{ color: var(--titleColor);}
.dark-mode .questionsbox span{ color: white}


/* --- Footer --- */
.dark-mode .footerItem, .dark-mode .address{color:white}



/* --- project page --- */
.dark-mode .project-name h1, .dark-mode .project-date span{color:var(--questionColor)}
.dark-mode .project-info article{ color:  lightgray;}

/* --- Contact --- */
.dark-mode label{color: lightgray}

/* Services */
.dark-mode .serviceTitle { color: var(--titleColor);}