/* --- Imports --- */

/*Bulma */
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/*Local*/
@import url(./navbar.css);
@import url(./hero-box.css);
@import url(./sponsors.css);
@import url(./projects.css);
@import url(./clients.css);
@import url(./services.css);
@import url(./questions.css);
@import url(./footer.css);

/* --- vars --- */

:root{
    --buttonColor: #072AC8;
    --titleColor: #292E47;
    --questionColor: #FFC600;
    --textColor: #6B708D;
    --backgroundColor: #F2F4FC;
    --color1: #43D2FF;
    --color2: #A2D6F9 ;
    --color3: #D1EDFF;
    --color4: #ECF7FF;

    /*h1*/
    --title-weight: bold;
    --title-size: 60px;
    /*h2*/
    --title2-size: 50px;
    /*h3*/
    --title3-size: 40px;
    /*h4*/
    --title4-size: 24px;

    /*Fonts*/
    --ff: 'Roboto', sans-serif;
    --fs-body-intro: 24px;
    --fw-body-intro: medium;
    --fs-body: 20px;
    --fw-body: regular;

    --fs-headline: 17px;
    --fs-caption:15px;
    --fs-caption2:13px;
}

/* --- General --- */
html, body{
    width: 100%;
    background-color: var(--backgroundColor);
    font-family: var(--ff);
}

.container{
    display: grid;
    gap: 100px;
}

a{
    color:unset;
    text-decoration: none;
}

.link:hover{
    cursor: pointer;
    color: var(--buttonColor);
    font-weight: bold;
    width: fit-content;
}

/* H1, h2, h3... */
h1,h2,h3, h4{
    color: var(--titleColor);
    font-weight: var(--title-weight);
}
h1{font-size: var(--title-size);}
h2{font-size: var(--title2-size);}
h3{font-size: var(--title3-size);}
h4{font-size: var(--title4-size);}

@media (max-width:1024px) {
    .container{
        gap: 35px
    }
}