
.team {
    DISPLAY: FLEX;
    FLEX-DIRECTION: COLUMN;
    gap: 60px;
}
.team-boxes {gap: 15px;}

.meet-the-team p {
    font-style: italic;
    font-family: -webkit-body;
    font-size: 18px;
}

.team .media-content .title{color: var(--buttonColor);}
.team .media-content .subtitle{color:var(--questionColor)}

/* Darkmode*/
.dark-mode .team h2{color:var(--questionColor)}